@font-face {
  font-family: "BareunBatangPro1";
  font-weight: 50;
  src:    local('BareunBatangPro1'),
          url("public/fonts/BareunBatangPro1.ttf");
}

@font-face {
  font-family: "BareunDotumPro1" ;
  font-weight: 50;
  src:    local('BareunBatangPro1'),
          url("public/fonts/BareunDotumPro1.ttf");
}