@import "fonts";

.d1 {
  font-family: "BareunBatangPro1", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d2 {
  font-family: "BareunBatangPro1", sans-serif;

}































