@import '../variables/color';
@import './mixins';

* {
  margin:0;
  padding:0;
}

html,body,#root {
  box-sizing: border-box;
  font-family:'BareunDotumPro1', sans-serif;
  font-size: 12px;
  height: 100%;
  letter-spacing: 0;
  line-height: 1.15;



  @include tablet {
    font-size: 10px;
  }

  @include mobile {
    font-size: 8px;
    min-width: #{$mobile-min}px;
  }

}

@font-face {
  font-family: "BareunBatangPro1";
  font-weight: normal;
  src:    local('BareunBatangPro1'),
    url("public/assets/fonts/BareunBatangPro1.ttf") format("truetype");
}

@font-face {
  font-family: "BareunDotumPro1" ;
  font-weight: normal;
  src:    local('BareunBatangPro1'),
    url("public/assets/fonts/BareunDotumPro1.ttf") format("truetype");
}